@import 'variables';
@import 'core';

@font-face {
  font-family: "Font Icons";
  font-style: normal;
  font-weight: 100;
  src: url('#{$icon-font-path}/icon-thin-100.woff2') format('woff2'),
  url('#{$icon-font-path}/icon-thin-100.woff') format('woff'),
  url('#{$icon-font-path}/icon-thin-100.ttf') format('truetype');
}

@font-face {
  font-family: "Font Icons";
  font-style: normal;
  font-weight: 300;
  src: url('#{$icon-font-path}/icon-light-300.woff2') format('woff2'),
  url('#{$icon-font-path}/icon-light-300.woff') format('woff'),
  url('#{$icon-font-path}/icon-light-300.ttf') format('truetype');
}

@font-face {
  font-family: "Font Icons";
  font-style: normal;
  font-weight: 400;
  src: url('#{$icon-font-path}/icon-regular-400.woff2') format('woff2'),
  url('#{$icon-font-path}/icon-regular-400.woff') format('woff'),
  url('#{$icon-font-path}/icon-regular-400.ttf') format('truetype');
}

@font-face {
  font-family: "Font Icons";
  font-style: normal;
  font-weight: 300;
  src: url('#{$icon-font-path}/icon-solid-900.woff2') format('woff2'),
  url('#{$icon-font-path}/icon-solid-900.woff') format('woff'),
  url('#{$icon-font-path}/icon-solid-900.ttf') format('truetype');
}
