$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$gray-light: #f9fbfd;
$black: #1a2035;

$primary: #1572E8;
$secondary: #6861CE;
$info: #48ABF7;
$warning: #FFAD46;
$danger: #F25961;
$success: #31CE36;

$colors: (
  white: $gray-light,
  dark: $gray-dark,
  primary: $primary,
  secondary: $secondary,
  info: $info,
  warning: $warning,
  danger: $danger,
  success: $success
);

.s-icon {
  color: $gray-dark;
}

@each $name, $color in $colors {
  .s-icon--#{""+$name} { color: $color }


  .s-button--#{""+$name} {
    background-color: $color!important;
    border: 1px solid $color!important;
    color: $white!important;

    .s-icon {
      color: $white;
    }

    &:hover {
      background-color: darken($color, 5%) !important;
      border: 1px solid darken($color, 5%) !important;
    }

    &.s-button--outline {
      background-color: transparent!important;
      color: $color!important;

      .s-icon {
        color: $color;
      }

      &:hover {
        color: darken($color, 5%) !important;

        .s-icon {
          color: darken($color, 5%) !important;
        }
      }
    }
  }
}

